body, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  min-width: 375px;
  position: relative;
}

body h1, html h1 {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

button, a {
  cursor: pointer;
}

button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

#darker-purple-stripe, #dark-purple-stripe, #purple-stripe, #gray-stripe {
  width: 100%;
  height: 100%;
  position: absolute;
}

#darker-purple-stripe {
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 0 20%, 65% 0);
          clip-path: polygon(0 0, 0 20%, 65% 0);
  background-color: #694ad9;
}

#dark-purple-stripe {
  top: 0;
  z-index: -2;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 48%, 0 79%);
          clip-path: polygon(0 0, 100% 0, 100% 48%, 0 79%);
  background-color: #6f52d9;
}

#purple-stripe {
  top: 0;
  z-index: -3;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  background-color: #6c72d9;
}

#gray-stripe {
  top: 1450px;
  z-index: -1;
  -webkit-clip-path: polygon(0 73%, 100% 40%, 100% 100%, 0% 100%);
          clip-path: polygon(0 73%, 100% 40%, 100% 100%, 0% 100%);
  background-color: #767bda14;
}

@media screen and (min-width: 365px) {
  #gray-stripe {
    top: 1400px;
  }
}

@media screen and (min-width: 375px) {
  #gray-stripe {
    top: 1450px;
  }
}

@media screen and (min-width: 438px) {
  #gray-stripe {
    top: 1320px;
  }
}

@media screen and (min-width: 480px) {
  #gray-stripe {
    top: 1400px;
  }
}

@media screen and (min-width: 523px) {
  #gray-stripe {
    top: 1350px;
  }
}

@media screen and (min-width: 535px) {
  #gray-stripe {
    top: 1360px;
  }
}

@media screen and (min-width: 569px) {
  #gray-stripe {
    top: 1200px;
  }
}

@media screen and (min-width: 576px) {
  #gray-stripe {
    top: 1400px;
  }
}

@media screen and (min-width: 768px) {
  #gray-stripe {
    top: 1370px;
  }
}

@media screen and (min-width: 804px) {
  #gray-stripe {
    top: 1350px;
  }
}

@media screen and (min-width: 867px) {
  #gray-stripe {
    top: 1340px;
  }
}

@media screen and (min-width: 950px) {
  #gray-stripe {
    top: 1300px;
  }
}

@media screen and (min-width: 1024px) {
  #gray-stripe {
    top: 1380px;
  }
}

@media screen and (min-width: 1200px) {
  #gray-stripe {
    top: 950px;
  }
}

@media screen and (min-width: 1366px) {
  #gray-stripe {
    top: 880px;
  }
}

#nav-bar {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  #nav-bar {
    margin: 0 auto;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% auto;
        grid-template-columns: 20% auto;
        grid-template-areas: "nav-logo nav-menu";
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

#nav-bar div#navbar-toggle {
  display: inline-block;
  position: fixed;
  top: 0;
}

@media screen and (min-width: 985px) {
  #nav-bar div#navbar-toggle {
    display: none;
  }
}

#nav-bar div#navbar-toggle:hover {
  cursor: pointer;
}

#nav-bar div#navbar-toggle img {
  width: 35px;
  position: fixed;
  top: 10px;
  right: 20px;
}

#nav-bar #nav-logo {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1em;
  color: #ffffff;
}

#nav-bar ul#nav-menu {
  position: fixed;
  width: 100%;
  z-index: 15;
  display: none;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  background-color: #694ad9;
}

#nav-bar ul#nav-menu li {
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 16px;
}

@media screen and (min-width: 985px) {
  #nav-bar ul#nav-menu {
    position: relative;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    background-color: transparent;
    margin: 0 auto;
    padding: 0;
  }
  #nav-bar ul#nav-menu li:nth-child(4) {
    margin-left: 30px;
  }
}

#nav-bar a {
  font-size: 0.9em;
  text-decoration: none;
  color: #ffffff;
}

#nav-bar a:hover {
  color: #89d99d;
}

#nav-bar button {
  padding: 10px;
  color: #ffffff;
  font-size: 0.9em;
  border: 0;
  border-radius: 3px;
  background-color: #89d99d;
}

@media screen and (min-width: 768px) {
  #nav-bar button {
    padding: 10px 15px;
    margin-right: 20px;
  }
}

main {
  width: 90%;
  margin: 0 auto;
  padding-top: 40%;
  text-align: center;
}

@media screen and (min-width: 375px) {
  main {
    padding-top: 40%;
  }
}

@media screen and (min-width: 414px) {
  main {
    padding-top: 30%;
  }
}

@media screen and (min-width: 576px) {
  main {
    padding-top: 25%;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding-top: 120px;
  }
}

main h1 {
  font-size: 1.7em;
  line-height: 1.4em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 375px) {
  main h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 414px) {
  main h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 576px) {
  main h1 {
    font-size: 2.2em;
  }
}

@media screen and (min-width: 768px) {
  main h1 {
    font-size: 2.6em;
  }
}

main h1 span {
  color: #89d99d;
}

main input#search-bar {
  font-size: 14px;
  display: block;
  margin: 10px auto;
  padding: 13px 13px 13px 20px;
  border: none;
  border-radius: 5px;
  width: 70%;
}

@media screen and (min-width: 375px) {
  main input#search-bar {
    padding: 16px 16px 16px 30px;
  }
}

@media screen and (min-width: 576px) {
  main input#search-bar {
    display: inline-block;
    width: 50%;
    padding: 15px 15px 15px 24px;
  }
}

@media screen and (min-width: 768px) {
  main input#search-bar {
    width: 30%;
    padding: 20px 20px 20px 28px;
    font-size: 1em;
  }
}

main button#search-btn {
  font-size: 14px;
  background-color: #89d99d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 13px 20px;
}

@media screen and (min-width: 375px) {
  main button#search-btn {
    padding: 16px 24px;
  }
}

@media screen and (min-width: 576px) {
  main button#search-btn {
    padding: 15px 24px;
    margin-left: 5px;
  }
}

@media screen and (min-width: 768px) {
  main button#search-btn {
    padding: 20px 28px;
    font-size: 0.9em;
  }
}

div#learn-more {
  margin: 32% auto 40% auto;
}

@media screen and (min-width: 375px) {
  div#learn-more {
    margin: 45% auto 50% auto;
  }
}

@media screen and (min-width: 376px) {
  div#learn-more {
    margin: 27% auto 35% auto;
  }
}

@media screen and (min-width: 576px) {
  div#learn-more {
    margin: 150px auto 120px auto;
  }
}

div#learn-more span {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.466);
}

div#learn-more #arrow {
  margin: 30px auto;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-color: #89d99d;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  -webkit-box-shadow: 0 2px 10px #1b143546;
          box-shadow: 0 2px 10px #1b143546;
}

div#create-account {
  padding-bottom: 50px;
}

@media screen and (min-width: 576px) {
  div#create-account {
    margin: 0 auto;
    width: 60%;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  div#create-account {
    width: 65%;
  }
}

@media screen and (min-width: 978px) {
  div#create-account {
    width: 85%;
  }
}

@media screen and (min-width: 1024px) {
  div#create-account {
    width: 80%;
  }
}

div#create-account p {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  div#create-account p {
    font-size: 22px;
  }
}

div#create-account button {
  background-color: #6f52d9;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 0.7em;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 10px #1b143546;
          box-shadow: 0 2px 10px #1b143546;
}

@media screen and (min-width: 768px) {
  div#create-account button {
    padding: 10px 20px;
    font-size: 0.8em;
  }
}

div#services {
  width: 90%;
  margin: 0 auto;
}

div#services h2 {
  margin: 10px auto;
  font-weight: 300;
}

div#services #underline {
  width: 50px;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

div#services #card-container {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#services #card-container img {
  display: none;
}

div#services #card-container .card {
  width: 450px;
  border: 1px solid #e3e3e3;
  background-color: #fefefe;
  border-radius: 5px;
  padding: 20px;
  margin: 0 15px 10px 10px;
  text-align: left;
}

@media screen and (min-width: 576px) {
  div#services #card-container .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% auto;
        grid-template-columns: 20% auto;
        grid-template-areas: "card-icon card-content";
  }
  div#services #card-container .card .card-icon {
    display: inline-block;
    width: 70px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  div#services #card-container .card .web-hosting {
    background-image: url("../images/technology.png");
  }
  div#services #card-container .card .resellers {
    background-image: url("../images/shapes-and-symbols.png");
  }
  div#services #card-container .card .vps-hosting {
    background-image: url("../images/shapes-and-symbols.png");
  }
  div#services #card-container .card .cloud-hosting {
    background-image: url("../images/cloud.png");
  }
}

div#services #card-container .card h3 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

div#services #card-container .card p {
  color: #9d9d9d;
  font-size: 0.9em;
}

div#are-you-ready {
  font-weight: 300;
  margin: 20px auto;
  padding-bottom: 30px;
}

@media screen and (min-width: 636px) {
  div#are-you-ready {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 768px) {
  div#are-you-ready {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4em;
    line-height: 10px;
  }
}

@media screen and (min-width: 950px) {
  div#are-you-ready {
    text-align: left;
    width: 86%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

div#are-you-ready p:nth-child(1) {
  color: #6c72d9;
}

div#are-you-ready p:nth-child(2) {
  color: #694ad9;
}

div#are-you-ready button:nth-child(1) {
  background-color: #6c72d9;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 0;
  border-radius: 7px;
}

@media screen and (min-width: 768px) {
  div#are-you-ready button:nth-child(1) {
    padding: 10px 30px;
    font-size: 12px;
    margin-right: 12px;
  }
}

div#are-you-ready button:nth-child(2) {
  text-transform: uppercase;
  background-color: #fefefe;
  padding: 10px 20px;
  border: 0;
  border-radius: 7px;
  -webkit-box-shadow: 2px 5px 7px 2px #e3e3e3;
          box-shadow: 2px 5px 7px 2px #e3e3e3;
}

@media screen and (min-width: 768px) {
  div#are-you-ready button:nth-child(2) {
    font-size: 12px;
    padding: 10px 30px;
  }
}

footer {
  background-color: #6c72d9;
  padding: 40px 0;
  margin-top: 20px;
  font-size: 12px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  footer {
    font-size: 0.8em;
    padding: 60px 50px;
  }
}

footer #footer-content {
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer #footer-content .footer-column {
  margin: 0 5px;
}

footer #footer-content a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

footer #footer-content a:hover {
  color: #ffffff;
}

footer #footer-content h4 {
  margin-bottom: 0;
  font-weight: 500;
}

footer #footer-content p {
  font-weight: 300;
}

footer #contact-icon img {
  width: 13px;
}

footer #contact-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto;
      grid-template-columns: 10% auto;
  grid-gap: 10px;
}

footer #contact-info h4, footer #contact-info p {
  margin-bottom: 22px;
}

footer #social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

footer #social-media img {
  width: 20px;
  margin: 10px 5px;
}

@media screen and (min-width: 768px) {
  header {
    width: 80%;
    margin: 0 auto;
    padding: 5px 0 10px 0;
  }
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */