body, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
}

body h1, html h1 {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

button, a {
  cursor: pointer;
}

#darker-purple-stripe, #dark-purple-stripe, #purple-stripe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#darker-purple-stripe {
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 0 20%, 65% 0);
          clip-path: polygon(0 0, 0 20%, 65% 0);
  background-color: #694ad9;
}

#dark-purple-stripe {
  z-index: -2;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 48%, 0 79%);
          clip-path: polygon(0 0, 100% 0, 100% 48%, 0 79%);
  background-color: #6f52d9;
}

#purple-stripe {
  z-index: -3;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  background-color: #6c72d9;
}

#nav-bar {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}

#nav-bar div#navbar-toggle {
  display: inline-block;
}

#nav-bar div#navbar-toggle:hover {
  cursor: pointer;
}

#nav-bar div#navbar-toggle img {
  width: 35px;
  position: absolute;
  top: 10px;
  right: 20px;
}

#nav-bar #nav-logo {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 1em;
  color: #ffffff;
}

#nav-bar ul#nav-menu {
  display: none;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  list-style-type: none;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#694ad9), color-stop(#6460e0), color-stop(#6373e5), color-stop(#6884e7), color-stop(#7294e8), color-stop(#5ea2ed), color-stop(#50afef), color-stop(#4dbbed), color-stop(#23c6e3), color-stop(#2ecfd0), color-stop(#5cd6b7), to(#89d99d));
  background-image: linear-gradient(to left top, #694ad9, #6460e0, #6373e5, #6884e7, #7294e8, #5ea2ed, #50afef, #4dbbed, #23c6e3, #2ecfd0, #5cd6b7, #89d99d);
}

#nav-bar ul#nav-menu li {
  margin: 10px auto;
}

#nav-bar a {
  font-size: 0.9em;
  text-decoration: none;
  color: #ffffff;
}

#nav-bar a:hover {
  color: #89d99d;
}

#nav-bar button {
  padding: 10px;
  color: #ffffff;
  font-size: 0.9em;
  border: 0;
  border-radius: 3px;
  background-color: #89d99d;
}

main {
  width: 90%;
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
}

main h1 {
  font-size: 1.7em;
  line-height: 1.4em;
  text-align: center;
  color: #ffffff;
}

main h1 span {
  color: #89d99d;
}

main input#search-bar {
  display: block;
  margin: 10px auto;
  padding: 13px 13px 13px 20px;
  border: none;
  border-radius: 5px;
  width: 80%;
}

main input#search-bar:focus {
  outline: none;
}

main button#search-btn {
  font-size: 0.7em;
  background-color: #89d99d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

div#learn-more {
  margin: 150px auto 120px auto;
  position: absulute;
}

div#learn-more span {
  font-size: 0.9em;
  color: #ffffff;
}

div#learn-more #arrow {
  margin: 30px auto;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-color: #89d99d;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  -webkit-box-shadow: 0 2px 10px #1b143546;
          box-shadow: 0 2px 10px #1b143546;
}

div#create-account {
  padding-bottom: 50px;
}

div#create-account p {
  font-size: 1.2em;
  color: #777;
}

div#create-account button {
  background-color: #6f52d9;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 0.7em;
  text-transform: uppercase;
}

div#services {
  width: 90%;
  margin: 0 auto;
}

div#services h2 {
  margin: 10px auto;
  font-weight: 300;
}

div#services #underline {
  width: 50px;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

div#services #card-container {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#services #card-container img {
  display: none;
}

div#services #card-container .card {
  width: 450px;
  border: 1px solid #e3e3e3;
  background-color: #fefefe;
  border-radius: 5px;
  padding: 20px;
  margin: 0 15px 10px 10px;
  text-align: left;
}

div#services #card-container .card h3 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

div#services #card-container .card p {
  color: #9d9d9d;
  font-size: 0.9em;
}

div#are-you-ready {
  margin: 20px auto;
}

div#are-you-ready p:nth-child(1) {
  color: #6c72d9;
}

div#are-you-ready p:nth-child(2) {
  color: #694ad9;
}

div#are-you-ready button:nth-child(1) {
  background-color: #6c72d9;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
}

div#are-you-ready button:nth-child(2) {
  text-transform: uppercase;
  background-color: #fefefe;
  padding: 10px 20px;
  border: 0;
  border-radius: 7px;
  -webkit-box-shadow: 1px 5px 5px 1px #e3e3e3;
          box-shadow: 1px 5px 5px 1px #e3e3e3;
}

footer {
  background-color: #6c72d9;
  padding: 40px 0;
  margin-top: 20px;
  font-size: 12px;
  color: #ffffff;
}

footer #footer-content {
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer #footer-content a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

footer #footer-content a:hover {
  color: #ffffff;
}

footer #footer-content h4 {
  margin-bottom: 0;
  font-weight: 500;
}

footer #footer-content p {
  font-weight: 300;
}

footer #contact-icon img {
  width: 13px;
}

footer #contact-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto;
      grid-template-columns: 10% auto;
  grid-gap: 10px;
}

footer #social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

footer #social-media img {
  width: 20px;
  margin: 10px 5px;
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=main.css.map */