///////// Color Variables /////////
$purple-darker: #694ad9;
$purple-dark: #6f52d9;
$purple: #6c72d9;
$white: #ffffff;
$green: #89d99d;
$gray: #777;
$light-gray: #e3e3e3;
$purple-shadow: #1b143546;
$lighten-purple: #767bda14;
//////////////////////////////////

///////// icons //////////////////
$arrow: url('../images/arrow.svg');
$web-hosting-icon: url('../images/technology.png');
$resellers-icon: url('../images/shapes-and-symbols.png');
$vps-hosting-icon: url('../images/storage.png');
$cloud-hosting-icon: url('../images/cloud.png');
/////////////////////////////////

//////// Mixin for media queries ////////
@mixin query($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}
/////////////////////////////////////////
body, html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    min-width: 320px; 
    position: relative;
    h1 { margin: 0; }
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden; // Fixing extra white space issue
    
}

button, a {
    cursor: pointer;
}

button {
    &:hover { transform: translateY(-2px); }
}

// Stripe - for creating stripe background
%stripe-shared {
    width: 100%;
    height: 100%;
    position: absolute;
}

#darker-purple-stripe {
    @extend %stripe-shared;
    top: 0;
    z-index: -1;
    clip-path: polygon(0 0, 0 20%, 65% 0);
    background-color: $purple-darker;
}

#dark-purple-stripe {
    @extend %stripe-shared;
    top: 0;
    z-index: -2;
    clip-path: polygon(0 0, 100% 0, 100% 48%, 0 79%);
    background-color: $purple-dark;
}

#purple-stripe {
    @extend %stripe-shared; 
    top: 0;
    z-index: -3;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    background-color: $purple;
}

#gray-stripe {
    @extend %stripe-shared; 
    // bottom: 0; did not work
    top: 1450px;
    z-index: -1;
    clip-path: polygon(0 73%, 100% 40%, 100% 100%, 0% 100%);
    background-color: $lighten-purple;

    // media queries for responsive gray stripe
    @include query(365px) { top: 1400px; }
    @include query(438px) { top: 1320px; }
    @include query(523px) { top: 1290px; }
    @include query(535px) { top: 1220px; }
    @include query(569px) { top: 1200px; }
    @include query(576px) { top: 1350px; }
    @include query(768px) { top: 1370px; }
    @include query(804px) { top: 1350px; }
    @include query(867px) { top: 1340px; }
    @include query(950px) { top: 1300px; }
    @include query(1024px) { top: 1380px; }
    @include query(1200px) { top: 950px; }
    @include query(1366px) { top: 880px; }
}

// Navbar - hamburger menu for smaller screen size 
#nav-bar {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;

    // Regular navbar for desktop 
    @include query(768px) {
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-areas: "nav-logo nav-menu";
        align-items: baseline;
    }

    // toggle button for hamburger menu 
    div#navbar-toggle {
        display: inline-block;

        @include query(768px) { display: none; }

        &:hover { cursor: pointer; }

        img { 
            width: 35px; 
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }

    #nav-logo {
        display: inline-block;
        margin-top:20px;
        margin-left: 20px;
        font-size: 1em;
        color: $white;
    }

    // hamburger nav hidden by default, toggle to show with JS
    ul#nav-menu { 
        display: none;
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 30px;
        flex-flow: column wrap;
        list-style-type: none;
        justify-content: flex-end; 
        align-content: center;
        text-align: center;
        background-color: $purple-darker;

        li {
            display: inline-block;
            padding: 0 15px;
            margin-bottom: 16px;
        }

        // Desktop nav 
        @include query(768px) {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: baseline;
            background-color: transparent; 
            margin: 0 auto;
            padding: 0;

            li:nth-child(4) { margin-left: 30px; } // login button
        }
    }
    a { 
        font-size: 0.9em;
        text-decoration: none; 
        color: $white; 

        &:hover { color: $green; }
    }
    button { // support button
        padding: 10px; 
        color: $white;
        font-size: 0.9em;
        border: 0;
        border-radius: 3px;
        background-color: $green; 

        @include query(768px) {
            padding: 10px 15px;
            margin-right: 20px;
        }
    }
}

// Main && Search bar 
main {
    width: 90%;
    margin: 0 auto;
    padding-top: 130px;
    text-align: center;

    @include query(768px) { padding-top: 120px; }

    h1 { // Get a website in 15 minutes or less 
        font-size: 1.7em;
        line-height: 1.4em;
        text-align: center;
        color: $white;
        margin-bottom: 20px;

        @include query(414px) { font-size: 2em; } 

        @include query(576px) { font-size: 2.2em; }

        @include query(768px) { font-size: 2.6em; }

        span { color: $green; }
    }

    input#search-bar {
        font-size: 14px;
        display: block;
        margin: 10px auto;
        padding: 13px 13px 13px 20px;
        border: none;
        border-radius: 5px;
        width: 70%;

        @include query(576px) {
            display: inline-block;
            width: 50%;
            padding: 15px 15px 15px 24px;
        }

        @include query(768px) {
            width: 30%;
            padding: 20px 20px 20px 28px;
            font-size: 1em;
        }

        // &:focus { outline: none; }
    }

    button#search-btn {
        font-size: 14px;
        background-color: $green;
        color: $white;
        border: none;
        border-radius: 5px;
        padding: 13px 20px;

        @include query(576px) {
            padding: 15px 24px;
            margin-left: 5px;
        }

        @include query(768px) {
            padding: 20px 28px;
            font-size: 0.9em;
        }
    }
}

// Learn more section 
div#learn-more {
    margin: 140px auto 100px auto;
    position: absulute;

    @include query(576px) {
        margin: 150px auto 120px auto;
    }

    span {
        font-size: 12px; 
        color: $white;
        text-transform: uppercase;

        @include query(414px) { font-size: 1em; }
    }

    #arrow { // bouncing arrow 
        margin: 30px auto;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        background-image: $arrow;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
        background-color: $green;
        border-radius: 50%;
        height: 55px;
        width: 55px;
        box-shadow: 0 2px 10px $purple-shadow;
    }
}

// Create account section 
div#create-account {
    padding-bottom: 50px;

    @include query(576px) {
        margin: 0 auto;
        width: 60%;
        padding-bottom: 80px;
    }

    @include query(768px) { width: 65%; }

    @include query(978px) { width: 85%; }

    @include query(1024px) { width: 80%; }

    p { 
        font-size: 14px; 
        color: $gray; 
        margin-bottom: 30px;

        @include query(1024px) {
            font-size: 22px;
        }
    }
    button { // create account button
        background-color: $purple-dark;
        border: none;
        border-radius: 5px;
        color: $white;
        padding: 10px 15px;
        font-size: 0.7em;
        text-transform: uppercase;
        box-shadow: 0 2px 10px $purple-shadow;

        @include query(768px) {
            padding: 10px 20px;
            font-size: 0.8em;
        }
    }
}

// Services 
div#services {
    width: 90%;
    margin: 0 auto;

    h2 { // Our Services
        margin: 10px auto;
        font-weight: 300;
    }
    #underline { // custom underline for h2
        width: 50px;
        height: 2px;
        background-color: black;
        margin: 0 auto;
    }

    #card-container {
        padding: 30px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        img { display: none; } // hide images in smaller screens

        .card {
            width: 450px;
            border: 1px solid $light-gray;
            background-color: #fefefe;
            border-radius: 5px;
            padding: 20px;
            margin: 0 15px 10px 10px;
            text-align: left;

            @include query(576px) {
                display: grid;
                grid-template-columns: 20% auto;
                grid-template-areas: "card-icon card-content";

                .card-icon { // show images when screen is 576px wide or higher
                    display: inline-block;
                    width: 70px;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .web-hosting {
                    background-image: $web-hosting-icon;
                }
                .resellers {
                    background-image: $resellers-icon;
                }
                .vps-hosting {
                    background-image: $resellers-icon;
                }
                .cloud-hosting {
                    background-image: $cloud-hosting-icon;
                }
            }

            h3 { 
                font-size: 0.9em;
                font-weight: 600;
                text-transform: uppercase; 
            }
            p { color: #9d9d9d; font-size: 0.9em; }

        }
    }
}

// Are you ready section 
div#are-you-ready { 
    margin: 20px auto;
    padding-bottom: 30px; // display in one column in smaller screen 

    @include query(768px) { 
        text-align: center;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        font-size: 1.4em;
        font-weight: 300;
        line-height: 10px;
    }

    @include query(950px) {
        text-align: left;
        width: 86%;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    p:nth-child(1) { color: $purple; } // Are you ready paragraph
    p:nth-child(2) { color: $purple-darker; } // create account or contact us paragraph

    button:nth-child(1) { // create account button
        background-color: $purple;
        color: $white;
        text-transform: uppercase;
        padding: 10px 15px;
        border: 0;
        border-radius: 7px;

        @include query(768px) {
            padding: 10px 30px;
            font-size: 12px;
            margin-right: 12px;
        }
    }

    button:nth-child(2) { // contact us paragraph
        text-transform: uppercase;
        background-color: #fefefe;
        padding: 10px 20px;
        border: 0;
        border-radius: 7px;
        box-shadow: 2px 5px 7px 2px $light-gray;

        @include query(768px) {
            font-size: 12px;
            padding: 10px 30px;
        }
    }
}

// Footer
footer {
    background-color: $purple;
    padding: 40px 0;
    margin-top: 20px;
    font-size: 12px;
    color: $white;

    @include query(768px) {
        font-size: 0.8em;
        padding: 60px 50px; // to make it align with the section above
    }
    
    #footer-content { // footer content wrapper
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;

        .footer-column { margin: 0 5px; }

        a { // to make all the link lighter than header
            color: rgba(255, 255, 255, 0.7);
            text-decoration: none;
    
            &:hover { color: $white; }
        }

        h4 { margin-bottom: 0; font-weight: 500; } 
        p { font-weight: 300; } // contact information 
    }

    #contact-icon { img { width: 13px; } } // phone, email, location icons 

    #contact-info { // phone number, email, and address
        display: grid;
        grid-template-columns: 10% auto;
        grid-gap: 10px;

        h4, p { margin-bottom: 22px; }
    }

    #social-media { // Facebook, Youtube, Twitter icons
        display: flex;
        flex-direction: column;
        padding-top: 10px;

        img { width: 20px; margin: 10px 5px; }
    }
}

// Desktop query to display a regular navbar 
@media screen and (min-width: 768px) {
    header {
        width: 80%;
        margin: 0 auto;
        padding: 5px 0 10px 0;
    }
}

// Animation 
.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
