$purple-darker: #694ad9;
$purple-dark: #6f52d9;
$purple: #6c72d9;
$white: #ffffff;
$green: #89d99d;
$gray: #777;
$light-gray: #e3e3e3;
$purple-shadow: #1b143546;
$gradient: linear-gradient(to left top, #694ad9, #6460e0, #6373e5, #6884e7, #7294e8, #5ea2ed, #50afef, #4dbbed, #23c6e3, #2ecfd0, #5cd6b7, #89d99d);

///////// icons ////////
$web-hosting-icon: url('../images/technology.png');
$resellers-icon: url('../images/shapes-and-symbols.png');
$vps-hosting-icon: url('../images/storage.png');
$cloud-hosting-icon: url('../images/cloud.png');
///////////////////////

body, html {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 320px; 
    h1 {
        margin: 0;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}

button, a {
    cursor: pointer;
}

// Stripe 
%stripe-shared {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#darker-purple-stripe {
    @extend %stripe-shared;
    z-index: -1;
    clip-path: polygon(0 0, 0 20%, 65% 0);
    background-color: $purple-darker;
}

#dark-purple-stripe {
    @extend %stripe-shared;
    z-index: -2;
    clip-path: polygon(0 0, 100% 0, 100% 48%, 0 79%);
    background-color: $purple-dark;
}

#purple-stripe {
    @extend %stripe-shared; 
    z-index: -3;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    background-color: $purple;
}

// Nav bar
#nav-bar {
    position: absolute;
    width: 100%;
    margin: 0 auto;

    padding-bottom: 10px;

    
    div#navbar-toggle {
        display: inline-block;

        &:hover {
            cursor: pointer;
        }

        img { 
            width: 35px; 
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }

    #nav-logo {
        display: inline-block;
        margin-top:20px;
        margin-left: 20px;
        font-size: 1em;
        color: $white;
    }

    ul#nav-menu {
        display: none;
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 30px;
        flex-flow: column wrap;
        list-style-type: none; 
        align-content: center;
        text-align: center;
        background-image: $gradient;
        li {
            margin: 10px auto;
        }
    }
    a { 
        font-size: 0.9em;
        text-decoration: none; 
        color: $white; 

        &:hover {
            color: $green;
        }
    }
    button { 
        padding: 10px; 
        color: $white;
        font-size: 0.9em;
        border: 0;
        border-radius: 3px;
        background-color: $green; 
    }
}

// Main && Search bar 
main {
    width: 90%;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;

    h1 {
        font-size: 1.7em;
        line-height: 1.4em;
        text-align: center;
        color: $white;

        span {
            color: $green;
        }
    }

    input#search-bar {
        display: block;
        margin: 10px auto;
        padding: 13px 13px 13px 20px;
        border: none;
        border-radius: 5px;
        width: 80%;

        &:focus { outline: none; }
    }

    button#search-btn {
        font-size: 0.7em;
        background-color: $green;
        color: $white;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
    }
}

// Learn more section 
div#learn-more {
    margin: 150px auto 120px auto;
    position: absulute;
    span {
        font-size: 0.9em; 
        color: $white;
    }

    #arrow {
        margin: 30px auto;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        background-image: url('../images/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
        background-color: $green;
        border-radius: 50%;
        height: 55px;
        width: 55px;
        box-shadow: 0 2px 10px #1b143546;
    }
}

// Create account section 
div#create-account {
    padding-bottom: 50px;

    p { font-size: 1.2em; color: $gray; }
    button {
        background-color: $purple-dark;
        border: none;
        border-radius: 5px;
        color: $white;
        padding: 10px 15px;
        font-size: 0.7em;
        text-transform: uppercase;
    }
}

// Services 
div#services {
    width: 90%;
    margin: 0 auto;

    h2 {
        margin: 10px auto;
        font-weight: 300;
    }
    #underline {
        width: 50px;
        height: 2px;
        background-color: black;
        margin: 0 auto;
    }

    #card-container {
        padding: 30px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        img {
            display: none;
        }

        .card {
            width: 450px;
            border: 1px solid $light-gray;
            background-color: #fefefe;
            border-radius: 5px;
            padding: 20px;
            margin: 0 15px 10px 10px;
            text-align: left;

            h3 { 
                font-size: 0.9em;
                font-weight: 600;
                text-transform: uppercase; 
            }
            p { color: #9d9d9d; font-size: 0.9em; }

        }
    }
}

// Are you ready section 
div#are-you-ready {
    margin: 20px auto;

    p:nth-child(1) { color: $purple; }
    p:nth-child(2) { color: $purple-darker; }

    button:nth-child(1) {
        background-color: $purple;
        color: $white;
        // font-size: 0.6em;
        text-transform: uppercase;
        padding: 10px 15px;
        border: none;
        border-radius: 7px;
    }

    button:nth-child(2) {
        text-transform: uppercase;
        background-color: #fefefe;
        padding: 10px 20px;
        border: 0;
        border-radius: 7px;
        box-shadow: 1px 5px 5px 1px $light-gray;
    }
}

// Footer
footer {
    background-color: $purple;
    padding: 40px 0;
    margin-top: 20px;
    font-size: 12px;
    color: $white;
    
    #footer-content {
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;

        a {
            color: rgba(255, 255, 255, 0.7);
            text-decoration: none;
    
            &:hover { color: $white; }
        }

        h4 { margin-bottom: 0; font-weight: 500; }
        p { font-weight: 300; }
    }

    #contact-icon { img { width: 13px;} }

    #contact-info {
        display: grid;
        grid-template-columns: 10% auto;
        grid-gap: 10px;
    }

    #social-media {
        display: flex;
        flex-direction: column;
        padding-top: 10px;

        img { width: 20px; margin: 10px 5px; }
    }
}


// Animation 
.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}